In [4]:
import csv
import pandas as pd
import numpy as np
from pathlib import Path

In [5]:
#Importing and Displaying the dataframe

ufo_df = pd.read_csv('data/uncleaned_data/UFO_CSV_Uncleaned.csv', encoding='latin-1')
ufo_df

,Date,Time,Country,City,State,Shape,Summary,lat,lng
0,12/21/2016,19:15,USA,Waynesboro,VA,Sphere,Bright round object hovering in sky.,38.065229,-78.905888
1,12/21/2016,0:00,USA,Louisville,KY,Unknown,Multiple craft ascending from north of Shelbyv...,38.254238,-85.759407
2,12/20/2016,22:30,USA,Santa Rosa,CA,Sphere,Bright orange planet-like object sighted near ...,38.440467,-122.714431
3,12/20/2016,19:00,USA,Fresno,CA,Circle,Twelve orange globes in formation over Fresno,36.729529,-119.708861
4,12/19/2016,21:53,USA,Reymert,AZ,Circle,"While camping in the Cottonwood canyon Rd., al...",33.229779,-111.209290
...,...,...,...,...,...,...,...,...,...
5172,1/1/2016,12:00,USA,Elk Grove,CA,Light,6-7 peach-colored craft moving easterly direct...,38.408799,-121.371618
5173,1/1/2016,12:00,USA,Anchorage,AK,Circle,New Years yellow objects.,61.216313,-149.894852
5174,1/1/2016,12:00,USA,Sodaville,OR,Sphere,Two balls of orange light seen above the trees...,44.483395,-122.869982
5175,1/1/2016,12:00,USA,Arnold,MO,Triangle,Triangle obj. moving W to SE from my position....,38.432832,-90.377619
5176,1/1/2016,12:00,USA,Vernon,CT,Sphere,Red sphere in the sky.,36.092946,-80.149628

In [6]:
#First, making a series
ids = pd.Series(np.arange(len(ufo_df)))


#Second, insert series into the dataframe
ufo_df['Report_ID'] = ids
ufo_df

,Date,Time,Country,City,State,Shape,Summary,lat,lng,Report_ID
0,12/21/2016,19:15,USA,Waynesboro,VA,Sphere,Bright round object hovering in sky.,38.065229,-78.905888,0
1,12/21/2016,0:00,USA,Louisville,KY,Unknown,Multiple craft ascending from north of Shelbyv...,38.254238,-85.759407,1
2,12/20/2016,22:30,USA,Santa Rosa,CA,Sphere,Bright orange planet-like object sighted near ...,38.440467,-122.714431,2
3,12/20/2016,19:00,USA,Fresno,CA,Circle,Twelve orange globes in formation over Fresno,36.729529,-119.708861,3
4,12/19/2016,21:53,USA,Reymert,AZ,Circle,"While camping in the Cottonwood canyon Rd., al...",33.229779,-111.209290,4
...,...,...,...,...,...,...,...,...,...,...
5172,1/1/2016,12:00,USA,Elk Grove,CA,Light,6-7 peach-colored craft moving easterly direct...,38.408799,-121.371618,5172
5173,1/1/2016,12:00,USA,Anchorage,AK,Circle,New Years yellow objects.,61.216313,-149.894852,5173
5174,1/1/2016,12:00,USA,Sodaville,OR,Sphere,Two balls of orange light seen above the trees...,44.483395,-122.869982,5174
5175,1/1/2016,12:00,USA,Arnold,MO,Triangle,Triangle obj. moving W to SE from my position....,38.432832,-90.377619,5175
5176,1/1/2016,12:00,USA,Vernon,CT,Sphere,Red sphere in the sky.,36.092946,-80.149628,5176

In [7]:
#Reorder columns so the ID comes first

ufo_df = ufo_df[['Report_ID', 'Date', 'Time', 'Country', 'City', 'State', 'Shape', 'Summary', 'lat', 'lng']]
ufo_df

,Report_ID,Date,Time,Country,City,State,Shape,Summary,lat,lng
0,0,12/21/2016,19:15,USA,Waynesboro,VA,Sphere,Bright round object hovering in sky.,38.065229,-78.905888
1,1,12/21/2016,0:00,USA,Louisville,KY,Unknown,Multiple craft ascending from north of Shelbyv...,38.254238,-85.759407
2,2,12/20/2016,22:30,USA,Santa Rosa,CA,Sphere,Bright orange planet-like object sighted near ...,38.440467,-122.714431
3,3,12/20/2016,19:00,USA,Fresno,CA,Circle,Twelve orange globes in formation over Fresno,36.729529,-119.708861
4,4,12/19/2016,21:53,USA,Reymert,AZ,Circle,"While camping in the Cottonwood canyon Rd., al...",33.229779,-111.209290
...,...,...,...,...,...,...,...,...,...,...
5172,5172,1/1/2016,12:00,USA,Elk Grove,CA,Light,6-7 peach-colored craft moving easterly direct...,38.408799,-121.371618
5173,5173,1/1/2016,12:00,USA,Anchorage,AK,Circle,New Years yellow objects.,61.216313,-149.894852
5174,5174,1/1/2016,12:00,USA,Sodaville,OR,Sphere,Two balls of orange light seen above the trees...,44.483395,-122.869982
5175,5175,1/1/2016,12:00,USA,Arnold,MO,Triangle,Triangle obj. moving W to SE from my position....,38.432832,-90.377619
5176,5176,1/1/2016,12:00,USA,Vernon,CT,Sphere,Red sphere in the sky.,36.092946,-80.149628

In [8]:
#Checking for any null values in the dataframe

ufo_df.isnull().values.any()

True

In [9]:
#Getting a sum of how many null values exist in the dataframe and which columns contain them

ufo_df.isnull().sum()

Report_ID    0
Date         0
Time         9
Country      0
City         0
State        0
Shape        0
Summary      0
lat          0
lng          0
dtype: int64

In [10]:
#Creating another dataframe to show the rows of each null value for the 'Time' column (since 'Time' is the only column that\
#contains null values)

#Stackoverflow post assisted with the development of this syntax below. The post can be located at: https://stackoverflow.com/questions/67372679/how-to-check-isnull-for-the-list

bool_series = pd.isnull(ufo_df["Time"]) 
ufo_df[bool_series]

,Report_ID,Date,Time,Country,City,State,Shape,Summary,lat,lng
417,417,11/13/2016,NaN,USA,Stockton,CA,Disk,2 disk shaped objects drop from the skyline ve...,37.957702,-121.290779
887,887,10/15/2016,NaN,USA,Waterbury,CT,Triangle,Under the clear sky this morning as I was driv...,39.733739,-82.637120
1934,1934,8/14/2016,NaN,USA,Buford,GA,Triangle,Large triangle. Only objects visible could hav...,34.120656,-84.004351
2411,2411,7/24/2016,NaN,USA,Vacaville,CA,Circle,Looked like star that started moving SE slowly...,38.356577,-121.987744
2898,2898,6/27/2016,NaN,USA,Guilford,ME,Fireball,"My husband and I were in our garage, and my hu...",45.168968,-69.384842
3633,3633,4/28/2016,NaN,USA,Camp Verde,AZ,Circle,"Round black object in the sky by Camp Verde, A...",34.563636,-111.854318
3996,3996,3/30/2016,NaN,USA,Winston-Salem,NC,Fireball,Very large firecolor came from the trees and m...,36.099813,-80.244052
4181,4181,3/15/2016,NaN,CANADA,St. Albert,AB,Unknown,"Large, twin-prop plane flying very low and ver...",53.633239,-113.628845
4436,4436,2/26/2016,NaN,USA,Lompoc,CA,Light,Mysterious light activity observed during rock...,34.639150,-120.457941

In [11]:
#Dropping all 9 null values in the dataset

ufo_df.dropna(inplace=True)
ufo_df

C:\Users\Asher\AppData\Local\Temp\ipykernel_948\1743119096.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ufo_df.dropna(inplace=True)

,Report_ID,Date,Time,Country,City,State,Shape,Summary,lat,lng
0,0,12/21/2016,19:15,USA,Waynesboro,VA,Sphere,Bright round object hovering in sky.,38.065229,-78.905888
1,1,12/21/2016,0:00,USA,Louisville,KY,Unknown,Multiple craft ascending from north of Shelbyv...,38.254238,-85.759407
2,2,12/20/2016,22:30,USA,Santa Rosa,CA,Sphere,Bright orange planet-like object sighted near ...,38.440467,-122.714431
3,3,12/20/2016,19:00,USA,Fresno,CA,Circle,Twelve orange globes in formation over Fresno,36.729529,-119.708861
4,4,12/19/2016,21:53,USA,Reymert,AZ,Circle,"While camping in the Cottonwood canyon Rd., al...",33.229779,-111.209290
...,...,...,...,...,...,...,...,...,...,...
5172,5172,1/1/2016,12:00,USA,Elk Grove,CA,Light,6-7 peach-colored craft moving easterly direct...,38.408799,-121.371618
5173,5173,1/1/2016,12:00,USA,Anchorage,AK,Circle,New Years yellow objects.,61.216313,-149.894852
5174,5174,1/1/2016,12:00,USA,Sodaville,OR,Sphere,Two balls of orange light seen above the trees...,44.483395,-122.869982
5175,5175,1/1/2016,12:00,USA,Arnold,MO,Triangle,Triangle obj. moving W to SE from my position....,38.432832,-90.377619
5176,5176,1/1/2016,12:00,USA,Vernon,CT,Sphere,Red sphere in the sky.,36.092946,-80.149628

In [12]:
#Checking if any values are still null

ufo_df.isnull().values.any()

False

In [13]:
#Exporting dataframe locally for SQL upload

ufo_df.to_csv('data/cleaned_data/UFO_CSV_Cleaned.csv', index=False)